<li>
  <%= link_to question.title, question_path(question) %>
  <p> current vote count: <%= question.votes.count %></p>
  <% if logged_in? %>
  	<%= form_for [@votable, Vote.new] do |f| %>
			<%= f.hidden_field :question_id, value: question.id %>
			<%= f.submit "Upvote" %>
  	<% end %>
		<div class="spacer"></div>
  <% end %>
</li>