 <% if logged_in? %>
  <li><%= link_to "Create Post", new_question_path %></li>
  <li><%= link_to "Logout", logout_path, method: :delete, id: "logout-link" %></li>
<% else %>
  <li><%= link_to "Login", login_path %></li>
  <li><%= link_to "Sign Up", new_user_path %></li>
<% end %>

<h1>Questions</h1>

<% @questions.each do |question| %>
  <%= link_to question.title, question_path(question) %>
<% end %>

<%= link_to "Ask question", new_question_path %>
