 <% if logged_in? %>
  <li><%= link_to "Create Post", new_post_path %></li>
  <li><%= link_to "Logout", logout_path, method: :delete, id: "logout-link" %></li>
<% else %>
  <li><%= link_to "Login", login_path %></li>
  <li><%= link_to "Sign Up", new_users_path %></li>
<% end %>

<h1>Questions</h1>

<% @questions.each do |question| %>
  <%= question.title %>
<% end %>

<%= link_to "Ask question", new_questions_path %>
