<h1><%= @question.title %></h1>
<p><%= @question.body %></p>

<%= link_to "add a response", "/responses/new" %>

<h2>Answer:</h2>
<%= form_for @answer do |f| %>
  <%= f.hidden_field :question_id, value: params[:id] %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit "Post answer" %>
<% end %>

<%= link_to "Edit question", edit_question_path(@question) %>

