<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<%= link_to "Comment", new_response_path %>
<% @question.answers.each do |answer| %>
  <%= answer.body %>
  <% if logged_in? && answer.user_id == current_user.id %>
    <%= link_to "Edit answer", edit_answer_path(answer) %>
    <%= link_to "Delete answer", answer, method: :delete %>
  <% end %>
<% end %>

<div class="spacer"></div>


<h2>Answer:</h2>

<%= form_for @answer do |f| %>
  <%= f.hidden_field :question_id, value: params[:id] %>
  <%= f.label :answer %>
  <%= f.text_field :body %>
  <%= f.submit "Post answer" %>
<% end %>

<% if logged_in? && @question.user_id == current_user.id %>
<%= link_to "Edit question", edit_question_path(@question) %>
<%= link_to 'Delete',  @question,  method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
