<h1><%= @question.title %></h1>
<p><%= @question.body %></p>

<% @question.answers.each do |answer| %>
  <%= answer.body %>
<% end %>

<div class="spacer"></div>

<%= link_to "add a response", "/responses/new" %>

<h2>Answer:</h2>

<%= form_for @answer do |f| %>
  <%= f.hidden_field :question_id, value: params[:id] %>
  <%= f.label :answer %>
  <%= f.text_field :body %>
  <%= f.submit "Post answer" %>
<% end %>

<% if logged_in? && @question.user_id == current_user.id %>
<%= link_to "Edit question", edit_question_path(@question) %>
<%= link_to 'Delete',  @question,  method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
