<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<%= link_to "Comment", new_question_response_path(@question.id) %>
<div class="spacer"></div>

<h4>Responses:</h4>
<% @question.responses.each do |response| %>
	<%= response.body %>
  <% if logged_in? && response.user_id == current_user.id %>
  <%=link_to "Edit response", edit_response_path(response) %>
  <%= link_to "Delete response!",  response,  method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
<div class="spacer"></div>

<h4>Answers:</h4>
<ol>
	<% @question.answers.each do |answer| %>
		<%= render partial: "answers/show", locals: {answer: answer} %>
    <% answer.responses.each do |response| %>
    <%= response.body %>
    <% end %>
 <%= link_to "Comment here!", "/answers/#{answer.id}/responses/new" %>
	<% end %>
</ol>
<div class="spacer"></div>


<h4>Submit a new answer:</h4>
<%= form_for @answer do |f| %>
  <%= f.hidden_field :question_id, value: params[:id] %>
  <%= f.label :answer %>
  <%= f.text_field :body %>
  <%= f.submit "Post answer" %>
<% end %>
<div class="spacer"></div>

<% if logged_in? && @question.user_id == current_user.id %>
<%= link_to "Edit question", edit_question_path(@question) %>
<%= link_to 'Delete',  @question,  method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
