
<h6>Create a new response</h6>
<%= form_for :response , html: {id:"new_response"} do |f| %>
<%= f.hidden_field :question_id, value: params[:id] %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit "Post response!" %>
<% end %>
